/* Hamburger */
.hamburger {
    background: rgba(0,0,0,0.7);
    padding: 0.5rem;
}

.burger-line {
    width: 2rem;
    height: 4px;
    display: block;
    background: white;
    margin: 0.5rem auto;
    transition: all 0.3s ease-in-out;
}

.is-active .line:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
}

.is-active .line:nth-child(2) {
    opacity: 0;
}

.is-active .line:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
}

