/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap'); 

/* Whole */
* {
    font-family: "Raleway", sans-serif;
}
/* Hamburger */
.hamburger {
    background: rgba(0,0,0,0.7);
    padding: 0.5rem;
}

.burger-line {
    display: block;
    width: 2rem;
    height: 4px;
    background: white;
    margin: 0.5rem auto;
    transition: all 0.3s ease-in-out;
}

.is-active .line:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
}

.is-active .line:nth-child(2) {
    opacity: 0;
}

.is-active .line:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
}

/* NavBar */
.nav-list {
    margin: 0;
    padding: 0;
}
.nav-list li {
    list-style: none;
    margin: 0.5rem;
}

/* Section: Intro */
#intro-container {
    background: url("Images/hero.jpg") no-repeat center center/cover;
    height: 100vh;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.2);
    color: white;
}

.intro-heading i {
    font-size: 3.5rem;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo-name {
    display: flex;
    flex-direction: column;
}

.logo-name h2 {
    margin: 0;

}

.intro-link {
    margin: 0 auto;
    padding: 0.5rem 1rem;
    background: #2B6378;
    border-radius: 3px;
}

.intro-link:hover {
    background: rgb(52, 121, 146);
    cursor: pointer;
}